<!DOCTYPE html>
<html ng-app="TSApp">
    <head>
        <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Super simplified TS dashboard</h1>
        <p>To Will: Please dynamically load device driver to create adaptor panel</p>
        <div ng-controller="TSController as ctrl">
            <span ng-bind="ctrl.driver"></span>

        </div>
    </body>
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/angularApp.js"></script>

</html>
